@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<GetListSubjectResponse> listSubject = ViewBag.ListSubject;
}
@using Quiz.DTO.Common

<!-- Shop Start -->
<div class="container-fluid pt-5">
    <h3 class="cf-title-01">@ViewData["SubjectName"]</h3>
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-7 col-md-12">
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Học phần</h5>
                <form>
                    @{
                        if (listSubject is null)
                        {
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <h1>Không tìm thấy học phần</h1>
                            </div>
                        }
                        else
                        {

                            foreach (var subject in listSubject)
                            {
                                <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3 shadow-sm p-3 mb-1 bg-white rounded">

                                    @Html.ActionLink(
                        subject.Name,
                        "ListTestOfSubject",
                        "TestStructure",
                        new {
                            id = subject.SubjectId,
                            subjectName = subject.Name
                        },
                        new { @class = "text-decoration-none link-secondar"})
                                </div>
                            }
                        }
                        
                    }
                </form>
            </div>
        </div>
        <!-- Shop Sidebar End -->
    </div>
</div>
<!-- Shop End -->