@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<GetListMajorResponse> listMajor = ViewBag.ListMajor;
    GetListDepartmentResponse departmentCurrent = ViewBag.Department;
}
<style>
    .custom-control:hover > a {
        color:red;
        transition:.5s;
    }
</style>
@using Quiz.DTO.Common
<!-- Shop Start -->
<div class="container-fluid pt-5">
    <h3 class="mb-5 text-center">@departmentCurrent.Name</h3>
    <div class="row px-xl-5 justify-content-center">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-10 col-md-12">
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Chuyên Ngành</h5>
                <div class="d-flex justify-content-between">
                    @{
                        foreach (var major in listMajor)
                        {
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3 shadow p-3 mb-5 rounded col-md-5 bg-four">
                                @Html.ActionLink(
                                major.Name,
                                "ListSubject",
                                "TestStructure",
                                new {
                                    majorId = major.MajorId,
                                    departmentId = departmentCurrent.DepartmentId
                                },
                                new { @class = "text-decoration-none w-100"})
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- Shop Sidebar End -->
    </div>
</div>
<!-- Shop End -->