﻿@using Microsoft.AspNetCore.Http
@using Quiz.DTO.Common
@model List<GetListDepartmentResponse>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    List<string> listRoles = ViewBag.ListRoles;
}
<style>
    @@media all and (min-width: 992px) {
        .navbar .nav-item .dropdown-menu {
            display: none;
        }

        .navbar .nav-item:hover .nav-link {
        }

        .navbar .nav-item:hover .dropdown-menu {
            display: block;
        }

        .navbar .nav-item .dropdown-menu {
            margin-top: 0;
        }

        .navbar {
            font-size: 20px
        }
    }

    @@media all and (min-width: 992px) {
        .dropdown-menu li {
            position: relative;
        }

        .nav-item .submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .nav-item .submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu > li:hover {
            background-color: #f1f1f1
        }

            .dropdown-menu > li:hover > .submenu {
                display: block;
            }
    }
    /* ============ desktop view .end// ============ */

    /* ============ small devices ============ */
    @@media (max-width: 991px) {
        .dropdown-menu .dropdown-menu {
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            margin-bottom: .5rem;
        }
    }
    /* ============ small devices .end// ============ */
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="nav-bar-hidden">
    <div class="container-fluid pl-5 pr-5" style="width:95%">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="main_nav">
            <ul class="navbar-nav" style="margin-right:10px">
                <li class="nav-item active">
                    <a class="navbar-brand" href="#">
                        <img src="~/assets/img/logo.png" height="50" alt="MDB Logo"
                             loading="lazy" />
                    </a>
                </li>
                <li class="nav-item active"> <a class="nav-link" asp-action="Index" asp-controller="Home">Trang chủ </a> </li>
                <li class="nav-item dropdown" id="myDropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">  Chuyên ngành  </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in Model)
                        {
                            <li>@Html.ActionLink(item.Name, "ListMajor", "TestStructure", new { id = item.DepartmentId }, new { @class = "dropdown-item"})</li>
                        } 
                    </ul>
                </li>
            </ul>
            @{
                var fullname = HttpContextAccessor.HttpContext.Session.GetString("FullName");
                if (fullname != null)
                {
                    <ul class="navbar-nav pr-5">
                        <li class="nav-item dropdown active">
                            <a class="nav-link active dropdown-toggle" href="#" data-bs-toggle="dropdown">@fullname</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Account">My profile</a></li>
                                @{
                                    if(listRoles != null)
                                    {
                                        foreach (var role in listRoles)
                                        {
                                            if (role == "Admin")
                                            {
                                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Admin">Admin Page</a></li>
                                            }
                                            if (role == "Teacher")
                                            {
                                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Teacher">Teacher Page</a></li>
                                            }
                                        }
                                    }                                    
                                }
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Login">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav pr-5">
                        <li class="nav-item active">
                            <a asp-action="Index" asp-controller="Login" class="nav-link">Login</a>
                        </li>
                    </ul>
                }
            }
        </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // make it as accordion for smaller screens
        if (window.innerWidth < 992) {

            // close all inner dropdowns when parent is closed
            document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
                everydropdown.addEventListener('hidden.bs.dropdown', function () {
                    // after dropdown is hidden, then find all submenus
                    this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
                        // hide every submenu as well
                        everysubmenu.style.display = 'none';
                    });
                })
            });

            document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
                element.addEventListener('click', function (e) {
                    let nextEl = this.nextElementSibling;
                    if (nextEl && nextEl.classList.contains('submenu')) {
                        // prevent opening link if link needs to open dropdown
                        e.preventDefault();
                        if (nextEl.style.display == 'block') {
                            nextEl.style.display = 'none';
                        } else {
                            nextEl.style.display = 'block';
                        }

                    }
                });
            })
        }
        // end if innerWidth
    });
</script>
